@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #D2DBDC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}